* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* New Grid */
    display: grid;
    grid-template: 1fr 3.5fr / 1fr 4fr;
}








header {
    /* Body Grid Item */
    grid-column: 2 / -1;

    /* New Grid */
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    /* Style */
    border: 2px solid black;
}

header > .row1 {
    /* Header Grid Item */
    grid-row: 1 / 2;

    /* New Grid */
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

header .row1 .rightSection {
     /* New Grid */
     display: grid;
     grid-template-columns: repeat(2, 1fr) 2fr;
     gap: 20px;
}











nav {
    /* Grid */
    grid-area: 1 / 1 / -1 / 2;

    /* Style */
    border: 2px solid black;
}

main {

    /* Grid */
    grid-area: 2 / 2 / -1 / -1;

    /* Style */
    border: 2px solid black;
}