* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    grid-column-start: 2;
    grid-column-end: -1;
    border: 2px solid black;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    border: 2px solid black;
}

main {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
    border: 2px solid black;
}