* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* Grid */
    display: grid;
    grid-template: 1fr 3.5fr / 1fr 4fr;
}

header {
    /* Grid */
    grid-column: 2 / -1;

    /* Style */
    border: 2px solid black;
}

nav {
    /* Grid */
    grid-area: 1 / 1 / -1 / 2;

    /* Style */
    border: 2px solid black;
}

main {

    /* Grid */
    grid-area: 2 / 2 / -1 / -1;

    /* Style */
    border: 2px solid black;
}